node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
.vscode/
# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.history*
.nyc_output*
artifacts/
.history*


